doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(name='theme-color', content='#8fc31f')
    meta(name='description', content!='These fish and bugs will no longer be available after the end of '+ month +' in Animal Crossing: New Horizons.')

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#8fc31f')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.light_green-light_blue.min.css')
    script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
  
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js')

    link(href='https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap', rel='stylesheet')

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-165906703-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-165906703-1');

    block header
  body
    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--primary.monthmenubutton#monthmenu
        i.material-icons menu
    ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='monthmenu').monthmenu
        each month in ["January","February","March","April","May","June","July","August","September","October","November","December"]
            a(href!="/" + month)
                li.mdl-menu__item= month

    div#content
        header.mdl-card.mdl-shadow--16dp
            a(href="/")
                img#logo(src="/images/logo.png", alt="What Leaves After")
            div#month=month

        block content

        div.mdl-card.mdl-card.mdl-shadow--16dp.center#footer
          div
            | Data and images from 
            a(href="https://animalcrossing.fandom.com/wiki/Animal_Crossing_Wiki", target="_blank")
              | Animal Crossing Wiki
            |  available under CC-BY-SA
          div
            | Data Last Updated #{dataage}
          div
            | Content is available under 
            a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/', target="_blank")
              | CC-BY-SA
            |  unless noted otherwise

    
