/*
  Black: #020307
  White: #FFFFFF
  Grey: #9FA0A0
  Yellow: #FDD10A
  Blue: #55C3F1
  Pale Blue: #ccedfb;
  Green: #8FC31F
  Pale Green: #ddedbb
  Pink: #d95097
*/

html, body {
  background: #55c3f1;
  padding: 5px;
}

a {
  color: #55C3F1;
}

a:hover {
  color: #ccedfb;
  text-decoration: none;
}

#logo {
  width: 100%;
}

.card {
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

#month {
  font-family: 'Kadwa', serif;
  font-weight: 600;
  color: #8fc31f;
  font-size: 55px;
  text-shadow:
   -1px -1px 0 #9fa0a0,  
    1px -1px 0 #9fa0a0,
    -1px 1px 0 #9fa0a0,
     1px 1px 0 #9fa0a0;
  letter-spacing: 3px;
}

#months {
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

#title {
  border: solid 1px #8fc31f;
  text-align: center;
}

#description {
  text-align: center;
  border: solid 1px #8fc31f;
}

.month {
  background: #FFFFFF;
  box-sizing: border-box;
  border: solid 1px #8fc31f;
  border-radius: 2px;
  color: #020307;
}

.month:hover {
  color: #8fc31f;
  border: solid 1px #fdd10a;
  text-decoration: none;
}

#hemiselect {
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.hemi {
  background: #FFFFFF;
  box-sizing: border-box;
  border: solid 1px #8fc31f;
  border-radius: 2px;
  color: #020307;
  padding: 5px;
  cursor: auto;
}

.hemi:hover {
  color: #8fc31f;
  border: solid 1px #fdd10a;
  text-decoration: none;
  cursor: pointer;
}

.selected {
  background: #ddedbb;
  border: solid 1px #8fc31f;
}

.selected:hover {
  color: #020307;
  border: solid 1px #8fc31f;
  cursor: auto;
}

.data {
  background: #FFFFFF;
  box-sizing: border-box;
  border: solid 1px #8fc31f;
  border-radius: 2px;
  margin-top: 20px;
  padding: 5px;
}

.fishcard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border: solid 1px #8fc31f;
  border-radius: 2px;
  margin-bottom: 5px;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgba(85, 195, 241, 0.3);
}

.fishcard img, .bugcard img {
  width: 55%;
  margin: auto;
}

.noleave {
  width: 100%;
  text-align: center;
  padding: 100px;
}

.price img {
  width: 14px;
  position: relative;
  top: -2px;
  margin-right: 4px;
}

.name {
  font-weight: 500;
}

.bugcard {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border: solid 1px #55c3f1;
  border-radius: 2px;
  margin-bottom: 5px;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgba(143, 195, 31, 0.3);
}

#southerndata {
  display: none;
}

#footer {
  background: #FFFFFF;
  box-sizing: border-box;
  border: solid 1px #8fc31f;
  border-radius: 2px;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

